<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" maxRequestLength="16384" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
    </pages>
    <sessionState mode="InProc" timeout="60" />
  </system.web>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>

  <appSettings>
    <add key="AppName" value="OXP" />
    <add key="FinYear" value="01-Jan-2026 To 31-Dec-2026" />
    <add key="CompanyCode" value="OXIVE" />
	 <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>

  <connectionStrings>
		  <add name="constr"
			   connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=OxiveERP;Integrated Security=True"
			   providerName="System.Data.SqlClient" />
  </connectionStrings>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>
